.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.header__logo {
  .header__logo-img {
    width: 25px;
  }
}

.header__nav {
  display: flex;
  gap: 20px;

  .header__link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
}

.header__login {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.header__burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;

  .burger-line {
    height: 4px;
    width: 100%;
    background-color: #333;
    border-radius: 5px;
  }
}


@media (max-width: 768px) {
  .header {
    &__nav {
      display: none;
      &.open {
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #fff;
        padding: 20px;
        width: 200px;
        border-radius: 10px;
      }
    }

    &__burger {
      display: flex;
    }
    &__link {
      font-size: 18px;
      color: #333;
    }
  }
}
